<?xml version="1.0" encoding="utf-8"?>
{% extends "base.html" %}
{% block content %}
<section id="content">
  {% block content_title %}

  {% endblock %}

  {% for article in articles_page.object_list %}
  <article class="entry-overview">
    <div class=date>{{ article.locale_date }}</div>
    <div class=detail>
      <header>
        <h2><a href="{{ SITEURL }}/{{ article.url }}" title="Permalink to {{ article.title|striptags }}">{{
            article.title }}</a>
        </h2>
      </header>
      {% if article.summary %}
      <div class=summary>{{ article.summary }}</div>
      {% endif %}
    </div>

    <!-- tags list -->
    {% if article.tags %}
    <div class="indextags">
      {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag|e }}</a>
      {% endfor %}
    </div>
    {% endif %}
  </article>
  {% endfor %}

  {% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}